@model Cieros.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block ">
                            <div class="p-5">
                                <div class="alert alert-dismissible alert-danger">
                                    <button class="close" type="button" data-dismiss="alert">&times;</button>
                                    <strong>Forgot Password!</strong> Please provide your email and submit.
                                </div>
                                <div class="alert alert-dismissible alert-light">
                                    <button class="close" type="button" data-dismiss="alert">&times;</button>
                                    A link will be sent to your email address, locate it and click on it.
                                </div>
                                <a href="Javascript:history.go(-1)">Back </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Forgot Password!</h1>
                                </div>


                                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "user", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()


                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group">

                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", @Placeholder = "Email" })

                                    </div>
                                    <div class="form-group">

                                        <input type="submit" class="btn btn-primary btn-user btn-block" value="Email Link" />

                                    </div>
                                }

                                <hr />
                                <p><img height="15" width="15" src="~/Images/btlogo.png" /> Powered by: <a href="http://www.bringfirehtech.com" target="_blank">Bringfireh Technologies</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>