
@{
    ViewBag.Title = "End of Session";
}
<div class="container-fluid">
    <h2 class="h3 mb-2 text-gray-800">End of Session Process  </h2>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> Session Ending    </h6>
        </div>
        <div class="card-body">
            <center>
                @if(ViewBag.Msg!=null) { <text>@ViewBag.Msg</text>}
                <form method="post" action="~/SessionPeriod/" name="frm" id="frm" class="user" role="form">
                    <input type="submit" class="btn btn-info" value="End Session" />
                </form>
</center>
        </div>
    </div>
</div>


